{% extends 'base.html' %}

{% block content %}
    <h1>{{ studio.name }}</h1>
    <h2>{{ user.last_name }} {{ user.first_name }}様</h2>
    <p>{{ year }}年{{ month }}月{{ day }}日</p>

    <form method="POST">
        {% csrf_token %}
        <div>
        <label for="start">開始時刻</label>
        <input type="time" list="start-list" name="start" min="9:00" max="23:00" step="3600"><span></span>
        <datalist id="start-list">
            <option value="09:00"></option>
            <option value="10:00"></option>
            <option value="11:00"></option>
            <option value="12:00"></option>
            <option value="13:00"></option>
            <option value="14:00"></option>
            <option value="15:00"></option>
            <option value="16:00"></option>
            <option value="17:00"></option>
            <option value="18:00"></option>
            <option value="19:00"></option>
            <option value="20:00"></option>
            <option value="21:00"></option>
            <option value="22:00"></option>
            <option value="23:00"></option>
          </datalist>
        </div>
        <div>
        <label for="end">終了時刻</label>
        <input type="time" list="end-list" name="end" min="10:00" max="24:00" step="3600"><span></span>
        <datalist id="end-list">
            <option value="10:00"></option>
            <option value="11:00"></option>
            <option value="12:00"></option>
            <option value="13:00"></option>
            <option value="14:00"></option>
            <option value="15:00"></option>
            <option value="16:00"></option>
            <option value="17:00"></option>
            <option value="18:00"></option>
            <option value="19:00"></option>
            <option value="20:00"></option>
            <option value="21:00"></option>
            <option value="22:00"></option>
            <option value="23:00"></option>
            <option value="24:00"></option>
          </datalist>
        </div>
        <div>
        <label for="人数">利用人数</label>
        <input type="number" name="personCount">
        </div>
        <input type="submit"></button>
    </form>
{% endblock %}