{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
    <form method="POST" class="p-4 confirm">
        {% csrf_token %}
        <h2>予約情報確認</h2>
        <p>内容が正しければ予約確定ボタンを押してください</p>
        <div class="cardgray">
            <div>
                <label class="pt-2 pr-2">予約者氏名：{{ user.last_name }} {{ user.first_name }}</label>
            </div>
            <div>
                <label class="pt-2 pr-2">スタジオ：{{ studio.name }}</label>
            </div>
            <div>
                <label class="pt-2 pr-2">予約開始時刻：{{ start }}</label>
            </div>
            <div>
                <label class="pt-2 pr-2">予約終了時刻：{{ end }}</label>
            </div>
            <div>
                <label class="pt-2 pr-2">利用人数：{{ personCount }}</label>
            </div>
            <button type="submit" class="btn btn-success">予約確定</button>
        </div>
    </form>
{% endblock %}