{% extends "base.html" %}

{% block content %}

    <h1>管理者用</h1>
    <h1 style="text-align: center;">{{ studio.name }}</h1>
    <p  style="text-align: center;">{{ start_day }} - {{ end_day }}</p>
    <table class="table table-bordered text-center" style="table-layout: fixed;width: 100%">
        <tr>
            <td style="vertical-align:middle;"><a href="{% url 'booking:staffcalendar' studio.pk before.year before.month before.day %}">前週</a></td>
            {% for day in days %}
                {% if day.weekday == 5 %}
                    <th style="color: blue;">{{ day | date:"d(D)" }}
                {% elif day.weekday == 6 %}
                    <th style="color: red;">{{ day | date:"d(D)" }}
                {% else %}
                    <th>{{ day | date:"d(D)" }}
                {% endif %}
                <br><a href="{% url 'booking:detail' studio.pk  day.year day.month day.day %}">詳細</a></th>
            {% endfor %}
            <td style="vertical-align:middle;"><a href="{% url 'booking:staffcalendar' studio.pk next.year next.month next.day %}">次週</a></td>
        </tr>

        {% for time, schedules in calendar.items %}
            <tr style="font-size:12px">
                <td>
                    {{ time }}~
                </td>
                {% for dt, book in schedules.items %}
                    <td>
                        {% if book %}
                            ○
                        {% else %}
                            ×
                        {% endif %}
                    </td>

                {% endfor %}
                <td>
                    {{ time }}~
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}