main {
    padding: 1rem 0;
}
.datepicker-days th.dow:first-child,
.datepicker-days td:first-child {
  color: #f00;
}
.datepicker-days th.dow:last-child,
.datepicker-days td:last-child {
  color: #00f;
}
.form-control {
  border-radius: 5px;
}

.cardgray {
  border-radius: 3px;
  background-color: #f6f6f6;
  vertical-align: middle;
  border: 1px solid #dddddd;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 20px;
}